# Global gitignore
# (note: might also affect dotfiles repo)

.cache
.oh-my-zsh/cache/
.viminfo
.vimundo/
tags
.zsh_history
.bash_history

SAMToolkit.devenv

build
*.iml
__pycache__/
*.pyc
.mypy_cache/
